/**
 * Custom styles here
 */

a:focus {
    outline: 0px auto #f00;
    outline-offset: 0px;
}

:focus {
    outline: #ddd auto 0px;
}

body {
   background-color: #fff;
   font-family: 'Lato' sans-serif;
   font-weight: 400;
   font-size: 17px;
   color: #585858; 
}

#header {
	background: rgba(0,45,98,.8);
}

.list-inline .menu-block-wrapper li {
	display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}

#utility-nav-and-icons {
	background:rgba(0,39,76,.5);
}

#header .list-inline .menu-block-wrapper li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
} 

#header .list-inline .menu-block-wrapper li  a {
	color: #fff;
}

#header .list-inline ul {
	-webkit-padding-start: 0;
	padding-top: 8px;
}

#header .logo-and-nav {
  background: rgba(0,0,0,.3);
  position: fixed;
  width: 100%;
}

#header #logo-name-nav {
  padding-top:20px;
}

#header .integrated-header {
  padding-top: ;
}

.logo img {
	min-width: 100;
	max-width: 100%;
}


.logo-name-nav h1 {
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  padding-top:10px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.front .homepage-centered-title .logo-name-nav h1 {
  font-weight: 400;
  font-size: 2.8em; 
}

#site-slogan {
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size:1.3em;
}

#site-slogan strong {
  font-weight: 300;
}


a#site-menu-button {
    color: white;
    text-align: right;
    display: block;
    font-size: 1em;
    text-decoration: none;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    background-color: #fff !important;
    background: #fff;
    height: 3px !important;
}

.hamburger-box {
    display: block !important;
}

.hamburger .menu-title {
    font-family: 'Lato';
    font-weight: 300;
    display: block;
    padding-top: 4px;
    font-size: .8em;
}

#section-1 {
	background: #ddd;	
}

#section-2 {
	background: #ccc;	
}

section#content-section {
	padding-top:25px;
	padding-bottom:45px;
}

#section-3 {
	background: #bbb;	
}

#section-4 {
	background: #aaa;	
}

#footer {
	background: #00274c;
	color: #fff;
	font-size: 1em;
        min-height: 180px;
	padding-top: 20px;
	padding-bottom: 20px;	
}

#footer img {
  	padding-top: 20px;
}


.nopadding {
  padding: 0 !important;
}

.opportunity-full-node-part1 {
  padding-bottom: 20px;
}

.opportunity-post h1.page-header {
  display: none;
}

#content-section h1 {
  text-transform: uppercase;
  color: #696969;
  margin-bottom: 0;
  font-family: 'Lato';
  font-size: 1.8em;
}

.opportunity-city-state {
  color: #696969;
  font-size: 1.6em;
  font-family: 'Lato';
}

.opportunity-nid {
  color: #696969;
  font-size: 1.2em;
  font-family: 'Lato';
}

.opportunity-full-node-part2 {
  
}

h2.opportunity-node-h2 {
  font-size: 1em;
  color: #024794;
  text-transform: uppercase;
  font-family: 'Lato';
  font-weight: 400;
}

.page-search-listings h1.page-header {
  display: none;
}

.front h1.page-header {
  display: none;
}

.front h2, #content-section h1.pane-title {
  font-family: 'Lato';
  color: #024794;
  text-transform: none;
}

table {
  font-size: .8em;
}

.front .views-exposed-form {
    background: #232323;
    padding: 13px 0 5px 0;
}

.front .views-exposed-form .views-exposed-widget {
    float: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}

.front .views-widget-filter-field_type_tid {
    width: 70%;
    display: inline-block;
}

.front .better_jump_menu {
    width: 72%;
    display: inline-block;
    margin-right: 5px;
}

.front #better-jump-menu {
    padding: 10px 15px;
    background: #232323;
    text-align: center;
}

.front #edit-submit-most-recent-postings {
    margin-top: 0;
}

.front .homepage-blurb {
    font-family: 'Lato';
    font-weight: 300;
    color: #fff;
}

.front #section-1 {
    background: #81acd1;
}

.front .post-a-job {
    background: #5990bf;
}

.front .posting-guide {
    background: #5b89b1;
}

.front .post-a-job a, .front .posting-guide a, 
.front .post-a-job a:hover, .front .posting-guide a:hover,
.front .post-a-job a:active, .front .posting-guide a:active,
.front .post-a-job a:visited, .front .posting-guide a:visited
{
    color: #fff;
    display: block;
    padding: 18px 8px;
    font-size: 1.5em;
    font-weight: 100;
    text-transform: uppercase;
}

a.miyellow, a.miyellow:link, a.miyellow:hover, a.miyellow:visited {
    color: #ffcb05;
    font-weight: bold;
}

.page-node #content-section h1 {
    margin-bottom: 20px;
}

.region-sidebar-second .form-item-custom-search-blocks-form-1 {
    display: inline-block;
}

.region-sidebar-second #edit-actions--2 {
    display: inline-block;
}

.mm-navbar .form-item-custom-search-blocks-form-1.form-group {
    display: inline-block;
}

.mm-navbar #edit-actions--2 {
    display: inline-block;
}

.status-active-No {
  background: #F9B9AB;
}

.no-padding {
  padding: 0;
}

.slide-menu .user-links {
  font-size: .8em;
}

.slide-menu.user-links {
}

.user-link {
    padding: 4px;
    text-align: center;
}

a.user-link.my-account, a.user-link.create-account {
  display: block;
  background: #232323;
}

a.user-link.logout, a.user-link.login {
  display: block;
  background: #121212;
}

.opportunity-poster .group-administrative-info {
  display: none;
}

#opportunity-node-form .panel-default > .panel-heading {
    color: #efefef;
    background-color: #002a5b;
    border-color: #00274c;
    text-transform: uppercase;
}

#opportunity-node-form .panel-default > .panel-heading .panel-title {
    font-size: 1.2em;
}

#opportunity-node-form fieldset .panel-body {
    clear: both;
    display: inherit;
    background: #efefef;
}

#opportunity-node-form fieldset .panel-body label  {
    text-transform: uppercase;
}

/* MEDIA QUERIES */

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
   .logo-name-nav h1 {
       padding-top: 0;
   } 

   .front .post-a-job a, .front .posting-guide a,
   .front .post-a-job a:hover, .front .posting-guide a:hover,
   .front .post-a-job a:active, .front .posting-guide a:active,
   .front .post-a-job a:visited, .front .posting-guide a:visited {
	color: #fff;
        display: block;
        padding: 18px 6px;
        font-size: 1.2em;
        font-weight: 100;
        text-transform: uppercase;	
    }

}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

  #header .logo-name-nav {
    background: none;
    position: relative;
    width: auto;
  }
  
  #header .integrated-header {
    padding-top: none;
  }


}

@media only screen and (max-device-width: 480px) {
	body {
		-webkit-text-size-adjust: 100%;
		-ms-text-size-adjust: 100%;
	}

}



/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

#header {
        background: rgba(0,45,98,.6);
}

   .front .post-a-job a, .front .posting-guide a,
   .front .post-a-job a:hover, .front .posting-guide a:hover,
   .front .post-a-job a:active, .front .posting-guide a:active,
   .front .post-a-job a:visited, .front .posting-guide a:visited {
        color: #fff;
        display: block;
        padding: 18px 8px;
        font-size: 1.2em;
        font-weight: 100;
        text-transform: uppercase;
    }


}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

#header {
        background: rgba(0,45,98,.4);
	padding-bottom: 25px;
}

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}

